@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #8B4513 ;
  --color-secondary: #FFD700;
  --color-tertiary: #99a0a3;
}

a {
  @apply text-red-700;
}

a:hover {
  
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
/* Add this to your Global CSS */
html, body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

/* This targets the main wrapper in your App.js */
#__next, .bg-background {
  overflow-x: hidden;
  width: 100%;
}